<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="kostalConnector" class="de.de.kostalconnector.KostalConnector">
        <property name="modbusClient" ref="modbusClient" />
    </bean>

    <bean id="modbusClient" class="de.de.kostalconnector.ModbusClient">
        <constructor-arg value="${hostname}" />
        <constructor-arg value="${port}" />
        <property name="unitIdentifier" value="${unitidentifier}" />
        <property name="connectionTimeout" value="${connection.timeout}" />
    </bean>


    <context:property-placeholder location="classpath:application.properties" />
</beans>